<form
  class="mt mb"
  fxLayout="row"
  fxLayoutAlign="end center"
  fxLayoutGap="20px"
  (ngSubmit)="search()">
  <mat-form-field appearance="legacy" fxFlex="40%" fxFlex.lt-sm="100%">
    <input matInput placeholder="Search by artist" [formControl]="control" />
    <mat-icon
      matSuffix
      *ngIf="isSearch && !loading"
      (click)="clearControl()"
      class="pointer">
      clear
    </mat-icon>
    <mat-spinner
      matSuffix
      *ngIf="loading"
      diameter="20"
      color="primary"></mat-spinner>
  </mat-form-field>
  <button type="submit" mat-flat-button color="primary">
    <mat-icon>search</mat-icon>
  </button>
</form>
